
:root {
    --dark:#033546;
    --light:hsl(179, 100%, 76%);
    --light-blue: #41aedd;
    --yellow: #f2f8a7;
}


@font-face {
    font-family: Oldcar; /* Font neve, amit majd használsz */
    src: url('./Assets/Fonts/OldCar.otf') format('truetype'); /* Font elérési útja */
}

@font-face {
    font-family: Ezarion; /* Font neve, amit majd használsz */
    src: url('./Assets/Fonts/Ezarion.ttf') format('truetype'); /* Font elérési útja */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; 
  }

body {
    font-family: Ezarion,  Arial, sans-serif;
    background: url("./Assets/night-city.webp") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
}

header {
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    backdrop-filter:  blur(20px);
    box-shadow: 8px 25px 45px var(--dark);
}

header h1 { 
    color: var(--light);
    font-family: Oldcar, Arial, sans-serif;
    font-size: 3.9rem;
    text-shadow:
            0 0 3px var(--light),
            0 0 6px var(--light-blue),
            0 0 9px var(--light-blue),
            0 0 12px var(--light-blue),
            0 0 25px var(--light-blue),
}      
.box {
   position: relative;
}

/* Flipping cards*/

.scene {
    display: inline-block;
    margin-top: 15vh;
     perspective: 1000px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 500px;
    backdrop-filter: blur(5px);
    backface-visibility: hidden;  
  }
  
  .card__face--back {
    position: relative;
    transform: rotateY(180deg);
  }

.flip-card {
    border-radius: 10px;
    box-shadow: 8px 25px 45px var(--dark);
    border: 1px solid var(--light-blue);
    border-right: 3px solid var(--dark);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



.card-front {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



.form {
    width: 100%;
    padding: 40px;
    margin-top: 2.5rem;
}

.form-text {
    position:absolute;
    top: -1px;
    padding: 15px 20px 15px 20px;
    border-radius: 0 0 15px 15px;
    border-right:  1px solid var(--light);
    border-left: 1px solid var(--light);
    border-top: 2px solid var(--dark);
    border-bottom: 1px solid var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 8px 14px rgb(5, 5, 5); 
    background: -webkit-linear-gradient(to right, #34053f, #46057c), #34053f;
    background: linear-gradient(to right, #34053f, #46057c, #34053f);
}


.form-text h1{
    position: relative;
    color: var(--light);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form h1::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--light);
    
}

.error-message{
    width: auto;
    margin-top: 1rem;
    background-color: #DB4437;
    color: var(--yellow);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
}

.form .input-box {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
}

.form .input-box input {
    width: 100%;
    border: none;
    outline: none;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid var(--light-blue);
    border-radius: 15px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 30px var(--dark);
    background-color: transparent;
}

.form .input-box input[type="text"] {
    text-align: center;
    color: var(--light);
}

.form .input-box input[type="password"] {
    text-align: center;
    color: var(--light);
}


.favicon {
    position: relative;
    top: 2rem;
    left: 15px;
    color: var(--light);
    size: 1rem;

}

.user-label {
    position: absolute;
    left: 15px;
    color: var(--light);
    font-size: 1.2rem;
    font-weight: 450;
    pointer-events: none;
    padding: 10px;
    transform: translateY(-2.15rem);

   }

.user-label::after {
     content: '';
    position: absolute;
    left: 1.23rem;
    bottom: 0.3rem;
    width: 70px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--light);

}

.remember-forgot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox-container {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .checkbox:before {
    content: "";
    background-color: var(--yellow);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }

  .checkbox:checked{
    border: 2px solid var(--yellow);
  }
  
  .checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .checkbox-label {
    font-size: 0.9rem;
    color: var(--light);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }

  .forgot {
    font-size: 0.8rem;
    color: var(--light);
    padding-top: 1rem;
    text-decoration: none;
  }

  .forgot:hover  {
    color: var(--yellow);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }

   .btn {
    border: 2px solid var(--light);
    width: 100%;
    height: 3rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
  
  .sparkle {
    fill: var(--light);
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: var(--light);
    font-size: medium;
  }
  
  .btn:hover {
    background: transparent;
    box-shadow: inset 0px 1px 0px 0px var(--dark),
    inset 0px -4px 0px 0px var(--dark),
    0px 0px 0px 3px var(--light),
    0px 0px 60px 0px var(--light-blue);
    transform: translateY(-2px);
  }
  
  .btn:hover .text {
    color: var(--light);
  }
  
  .btn:hover .sparkle {
    fill: var(--light);
    transform: scale(1.2);
  }

  .account {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
  }

.form p {
    color: var(--light);
    font-size: 0.8rem;
}

.form p a {
    color: var(--yellow);
    text-decoration: none;
}

.form p a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.or {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.or p {
    padding: 0.7rem;
    border: 1px solid var(--light-blue);
    border-radius: 50%;
    font-size: 1.1rem;
    box-shadow: inset 3px 8px 14px rgb(5, 5, 5); 
    background: -webkit-linear-gradient(to right, #34053f, #46057c), #34053f;
    background: linear-gradient(to right, #34053f, #46057c, #34053f);
    z-index: 2;
}

.or::after {
    content: "";
    position: absolute;
    height:1px;
    width: 65%;
    background-color: var(--light-blue);
}

.social-login{
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    margin-top: 1.2rem;
}

.social-login button {
    width: 100%;
    display: flex;
    font-size: 0.82rem;
    font-weight: 500;
    padding: 10px;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid var(--light);
    cursor: pointer;
    transition: all 450ms ease-in-out; 
}

.social-login button:hover {
    box-shadow: inset 0px 1px 0px 0px var(--dark),
    inset 0px -4px 0px 0px var(--dark),
    0px 0px 0px 3px var(--light),
    0px 0px 60px 0px var(--light-blue);
    transform: translateY(-2px);
  }
  

.social-login i {
    font-size: 1.8rem;
    padding-right: 10px;
}
.facebook {
 background-color: 	#4267B2;
}

.google {
    background-color: #DB4437;
}

.box .small-box {
    position: absolute;
    border-radius: 10% 30%;
    backdrop-filter:  blur(5px);
    box-shadow: 8px 25px 45px var(--dark);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.box .small-box:nth-child(1) {
    width: 90px;
    height: 90px;
    top: 120px;
    right: -50px;
    animation: box-animation 12s linear infinite;
}

.box .small-box:nth-child(2) {
    width: 110px;
    height: 110px;
    top: 140px;
    left: -80px;
    z-index: 2;
    animation: box-animation2 15s linear infinite;
}

.box .small-box:nth-child(3) {
    width: 80px;
    height: 80px;
    top: 480px;
    left: -50px;
    animation: box-animation 10s linear infinite;
}

.box .small-box:nth-child(4) {
    width: 70px;
    height: 70px;
    top: 460px;
    right: -50px;
    z-index: 2;
    animation: box-animation2 13s linear infinite;
}
  

@keyframes box-animation {
    0%   {transform: translateY(-30px) scale(0.9);}
    50% {transform: translateY(30px) scale(1); rotate: 30deg;}
    100%{transform: translateY(-30px) scale(0.9);}

}

@keyframes box-animation2 {
    0%   {transform: translateY(30px) scale(0.9);}
    50% {transform: translateY(-30px) scale(1); rotate: -30deg;}
    100%{transform: translateY(30px) scale(0.9);}

}